.signup-btn{
  text-decoration: none;
  padding: 5px;
  border: 4px solid black;
  text-align: center;
  height: 33px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  font-family: 'Aclonica', sans-serif;
}

.signup-btn:hover{
  color: black;
  background-color: green;
}

.modal-label{
  display: flex;
  flex-direction: column;
  width: 75%;
  text-align: center;
  font-size: xx-large;
}