.overall-rating{
  margin: 0;
  margin-left: 15px;
  color: white;
  background: radial-gradient(darkgreen, black);
}

.review-page-wrapper{
  width: 80%;
}

.review-wrapper{
  color: white;
  box-sizing: border-box;
  padding: 15px;
  border-bottom: 2px dashed white;
  margin-top: 5px;
}

.review-text{
  margin-bottom: 0;
  color: grey;
  text-shadow: 1px 1px 0 darkgreen, 2px 2px 0 #000000;
}

.review-rating{
  text-align: end;
  margin: 0;
}

.review-auth{
  margin-top:0;
  text-align: end;
}

.add-review-btn{
  text-decoration: none;
  padding: 5px;
  border: 4px solid black;
  text-align: center;
  height: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.add-review-btn:hover{
  color: black;
  background-color: green;
}

.add-review-btn-wrapper{
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 20px;
  padding-right: 0;
}