@import url("https://fonts.googleapis.com/css?family=Aclonica");

#navbar{
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  height: 100%;
}

.navbar-container{
  margin: 0;
  height: 50px;
  padding-left: 20px;
}

.logo{
  grid-column: 1;
}

.home-btn{
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
};

.sessionLinks{
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#home-button, 
#signup-button{
  text-decoration: none;
  padding: 5px;
  border: 4px solid black;
  width: 75px;
  text-align: center;
  height: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  font-family: 'Aclonica', sans-serif;
}

#home-button:hover, 
#signup-button:hover{
  color: black;
  background-color: green;
}

.hoptimist-text-nav{
  margin: 0;
  color: black;
  text-shadow: 1px 1px 0 darkgreen, 2px 2px 0 #000000;
  font-family: 'Aclonica', sans-serif;
  letter-spacing: 4px;
  font-size: 35px;
}


